.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 96rpx;
  background-color: #393939;
  &__btn--link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .t-icon {
      width: 30px;
      height: 30px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  &__btn--name {
    color: #fff;
    font-size: 18rpx;
    margin-top: 5rpx;
  }
}